#root, body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

body{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #4A4A4A;
    /* margin-left: 100px;
    margin-right: 100px; */
    justify-content: space-between;
    min-width: fit-content;
}

.navigation {
    background-color: #65A062;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    min-height: 100px;
    min-width:max-content;
    max-width: 100%;
    max-height: 100px;
    margin-bottom: 30px;
}

.footer {
    background-color: #65A062;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    /* /* border: 10px red solid; */
}

.footerdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.navigation_left, .navigation_right{
    /* border: red 2px solid; */
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
}

.navigation_center{
    max-height: 100px;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
}

.navigation_home, .navigation_marketplace, .navigation_cart, .navigation_profile, .navigation_login_signup{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3FFAC;
    border-radius: 20px;
    height: 35px;
    width: 120px;
    min-width: 120px;
    max-width: fit-content;
    padding: 5px;
}

.navigation_home:hover, .navigation_marketplace:hover, .navigation_cart:hover, .navigation_profile:hover, a:any-link:hover{
    color: #888888;
    
}

.navigation_home:link, .navigation_marketplace:link, .navigation_cart:link, .navigation_profile:link, a:any-link:link{
    text-decoration: none;
    color: black;
}

.marketplace, .cart, .profile{
    display:flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
    gap: 45px;
    margin-left: 30px;
    margin-right: 30px;
}

.marketplacemiddle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.marketplacemiddlerow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 1200px;
    justify-content: center;
}

.card{
    background-color: #F3FFAC;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center;
    max-width: 250px;
    min-width: 250px;
    min-height: 200px;
    max-height: fit-content;
}

.shoppingcard {
    background-color: #707070;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center;
    max-width: 250px;
    min-width: 250px;
    min-height: 200px;
    margin: 15px;
}

.shoppingcardimage{
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.shoppingcardimg{
    /* border: green 10px solid; */
    width: 75%;
    min-height: 150px;
    max-height: 150px;
    margin: 15px;
    /* max-height: max-content; */
    object-fit: contain;
    object-position: center;
}

.cardtitle, .cardtitleSettings{
    padding-top: 10px;
    padding-bottom: 10px;
}

.filters, .cartcomponent, .filterbutton, .cartbutton, .settingsbutton{
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    max-height: 120px;
    min-height: fit-content;
}

.cartcomponent{
    background-color: #707070;
    color: white;
}

.checkboxes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filterbutton, .cartbutton, .cartbutton2, .settingsbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #65A062;
    color: white;
    max-height: 50px;
    min-height: 50px;
}

.cartbutton2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #65A062;
    color: white;
    max-height: 35px;
    min-height: 35px;
}

.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 30px;
    min-height: 30px;
    min-width: 300px;
    width: 750px;
    border-radius: 25px;
    background-color: #BFBFBF;
    margin-left: 35px;
    margin-right: 35px;
}

.searchbar_input[type=text]{
    border: none;
    border-radius: 30px;
    max-width: 100%;
    min-width: 100%;
    min-height: 95%;
    max-height: 95%;
    background-color: #BFBFBF;
    min-width: 250px;
    padding-left: 10px;
}

.searchbar_input[type=text]:focus, .searchbar_button:hover{
    background-color: #727272;
}
    

.searchbar_button {
    border: none;
    max-height: 30px;
    max-width: 25px;
    min-height: 30px;
    min-width: 25px;
    border-radius: 100px;
    max-width: 100%;
}

.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage_categories{
    font-size: 18px;
    color: white;
}

.homepage_sponsored {
    font-size: 24px;
    color: black;
    background-color: #F3FFAC;
    padding: 10px;
    margin-top: 30px;
}

.homeplaceholder{
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(43, 43, 43) 8px solid;
    width: 80%;
    height: 500px;
    font-size: 150px;
}

.homepagemiddle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    max-width: 1500px;
    justify-content: center;
}

.dashboard{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: green 3px solid;
    margin-left: 100px;
    margin-right: 100px;
}

.dashboard_center{
    display: flex;
    flex-direction: row;
    border: red 3px solid;
    gap: 30px
}

.dashboard_window{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    /* height: fit-content; */
    padding: 25px;
}

.dashboard_title{
    color: white;
}

.settingsbutton{
    border: none;
    font-size: 20px;
}

.settingsbutton:hover {
    cursor: pointer;
    color: #c5c5c5;
}

.cardtitleSettings{
    font-size: 24px;
}

.dashboardTitle{
    margin: 0px;
}